<h3>{{ leyenda }} - {{ progreso }}</h3>

<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
      Disminuye en 5
    </button>
  </span>

  <input
    id="progreso"
    #txtProgress
    type="number"
    class="form-control"
    name="progreso"
    [(ngModel)]="progreso"
    (ngModelChange)="onChanges($event)"
    min="1"
    max="100"
  />

  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
      Aumenta en 5
    </button>
  </span>
</div>
